<!doctype html>
<html>
  <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> - OrderMetrics Guide To Profit and Growth</title>
    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= javascript_include_tag "main" %>
    <%= partial 'components/profit-guide/styles' %>
    <link rel="canonical" href="https://ordermetrics.com<%= current_page.url %>" />
  </head>
  <body>
    <%= partial 'components/profit-guide/gtagbody' %>
    <%= yield %>
  <!--- LinkedIn Insight Tag --> 
<script type="text/javascript">
_linkedin_partner_id = "470732";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=470732&fmt=gif" />
</noscript>
<!--- end LinkedIn Tag -->
  
  </body>
</html>
